<!doctype html>
<html>
<head>
    <title>Beats & Bars</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/profile.css">
</head>
<body>

    <div class="page-header text-center" id="nav">
        <h1></span> Profile</h1>
        <a href="/home" class="btn btn-default btn-sm">Profile</a>
        <a href="/swiping" class="btn btn-default btn-sm">Swipe</a>
        <a href="/matches" class="btn btn-default btn-sm">Matches</a>
        <a href="/chat" class="btn btn-default btn-sm">Chat</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>

    </div>
  

<div class="container" id="userProfile">
    <header><h1> User Profile</h1></header>
    <button><a href="/userSetup">Set Up or Edit your profile<a></button>


<!-- if you want to display a string in EJS use = if you wanna display code use - -->
        <div>
            <% for(let i =0;i<result.length;i++){ %>
                <img src="<%= result[i].imgPath %>" alt="" class="avatar">
               <p><%= result[i].firstname %></p>
               <p><%= result[i].lastname %></p>
               <p><%= result[i].bio %></p>
               <p><%= result[i].genre1 %>, <%= result[i].genre2 %>, <%= result[i].genre3 %>, <%= result[i].genre4 %></p>
               <p><%= result[i].influences %></p>
               <p><%= result[i].instrument %>, level :<%= result[i].instrumentLevel %></p>
               <p><%= result[i].instagramLink %></p>
               <p><%= result[i].looking %></p>
               <!-- <%- result[i].spotifyCode %>
               <%- result[i].youtubeCode %>
               <%- result[i].soundCloudCode %> -->
                <% } %>
        </div>
</div>
</body>
</html>
